<html>
<body style="background-color:white;">
<ul>
    {% for par in info %}
    <p>{% if par.state == "UP" or par.state == "DOWN"%}IP - {{par.ip}} - {{par.state}}{% endif %}</p>
    <ls>{% if par.reason == "SKIP"%}report:{% endif %}</ls>
    <p>{% if par.port != ""%} {{ par.port }}   {{par.type}}   {{par.state}} &nbsp &nbsp &nbsp   service: {% if par.service == "" %}no service{% endif %}{{par.service}} &nbsp / &nbsp  version: {% if par.version == "" %}no version{% endif %}{{par.version}}{% endif %}</p>
     <ls>{% if par.reason == "END"%}---------------------------------------{% endif %}</ls>
    {% endfor %}
</ul>
</body>
</html>
